{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="contacts__inner">
    <link href=" {% static 'css/footer.css'%}" rel="stylesheet">
           <div class="ul-slider-item-overlay">
								<div class="ul-slider-item-text g-theme-block-4" style="text-align: center; margin: 24px;" itemprop="description" data-theme-block="{&quot;desktop&quot;:&quot;g-theme-block-4&quot;, &quot;phone&quot;:&quot;g-theme-block-4&quot;,&quot;tablet&quot;:&quot;g-theme-block-4&quot;}"><h2><span class="g-color-text-1">Кафе CAFEteriy</span></h2>
                                    <h5><span style="color: inherit; line-height: 1.3; background-color: transparent;">Мы любим и ценим гостей.
Всегда с радостью готовы организовать мероприятие по любому случаю – от фуршета до банкета в честь дня рождения,
от тематической вечеринки до камерной свадьбы, от пикника до корпоратива. Организуем события любой сложности и
сделаем все, чтобы оно запомнилось навсегда. К нам люди приезжают отдыхать и наслаждаться жизнью.
В нашем ресторане грамотно продумана каждая деталь интерьера:
шикарные панорамные окна, открывающие потрясающий вид,
настоящий самобытный камин с живым эффектным пламенем,
уютные кресла и мягкие подушки, призывающие к отдыху и релаксу,
природные и натуральные материалы, создающие особую атмосферу.
Каждая строчка меню – это домашние, но изысканные блюда с авторской изюминкой. А также восхитительные оригинальные напитки,
созданные, чтобы радовать и приятно удивлять самых взыскательных гурманов. Весь наш квалифицированный, внимательный,
улыбчивый и услужливый персонал старается ради одного – дать Вам отдохнуть.
Приходите к нам, чтобы полениться, расслабиться, поговорить и посмеяться с близкими за вкусной едой и великолепными напитками.
Вкусите от души удовольствие безделья. Мы всегда рады нашим гостям!
								</div>
				</div>
          </div>
{% endblock %}