<!-- Footer-->
{% load static %}
<div class="footer">
        <footer class="border-top " >
                <div class="contacts_block-inner text-left ">
                    <h7 class="contacts__subtitle  fst-italic">Адрес:</h7>
                    <a class="contacts__address fst-italic">
                        г. Гродно ....
                    </a>
                    <h7 class="contacts__subtitle fst-italic">Режим работы:</h7>
                    <a class="contacts__regime fst-italic">
	                    ПН-ВС,&nbsp;с 11:00 до 23:00
                    </a>
                </div>
                <div class="icon_link text-right">
                    <a class="icon__link" href="https://www.vk.com/" target="_blank">
                        <img src="{% static 'img/vk-logo.png' %}" alt="Logo" width="40" height="40">
                    </a>
                    <a class="icon__link" href="https://www.instagram.com/" target="_blank">
			            <img src="{% static 'img/instagram-logo.png' %}"alt="Logo" width="40" height="40">
                    </a>
                </div>
            <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
        </footer>
    </div>