{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link href=" {% static 'css/footer.css'%}" rel="stylesheet">
 <div class="contacts__inner">
           <div class="ul-slider-item-overlay">
								<div class="ul-slider-item-text g-theme-block-4" style="text-align: center; margin: 24px;" itemprop="description" data-theme-block="{&quot;desktop&quot;:&quot;g-theme-block-4&quot;, &quot;phone&quot;:&quot;g-theme-block-4&quot;,&quot;tablet&quot;:&quot;g-theme-block-4&quot;}"><h2><span class="g-color-text-1">Пусть утро будет добрым!</span></h2><h5><span style="color: inherit; line-height: 1.3; background-color: transparent;">Работаем <span class="g-color-text-1">с 8 до 21</span> без выходных</span><br></h5><h5>Чашка кофе первым 10 посетителям - бесплатно.</h5></div>
								<div class="ul-slider-item-btn" style="margin-top:12px; margin-left: 24px;margin-right: 24px;margin-bottom: 24px;text-align: center"></div>
				</div>
          </div>

{% endblock %}





